@font-face {
    font-family: "bold";
    src: url(assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "medium";
    src: url(assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "small";
    src: url(assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* mobile-header */
.search-tab-and-filter {
    padding: 14px 24px 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-and-header-items {
    display: none;
}

.logo-with-text {
    display: none;
}
.search-icon-and-text {
    height: 56px;
    /* width: 277.5px; */
    width: 98%;
    display: flex;
    flex-direction: row;
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;

}

.search-button {
    padding: 7.2px 18px 0 20px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.header-main-text {
    font-family: "medium";
    font-size: 14px;
}

.header-main-text {
    margin: 0;
}

.sub-text {
    display: flex;
    flex-direction: row;
    font-family: "small";
    align-items: center;
    font-size: 12px;
    color: #717171;
    line-height: 16px;
    margin: 0;
    padding-top: 1px;
}

.dot-icon {
    padding: 0 5px;
}

.any-week-text {
    margin: 0;
}

.add-guest-text {
    margin: 0;
}

.filter {
    margin: 0 10px;
    margin-right: 0px;
}

.filter-icon {
    border: 1px solid #b0b0b0;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    font-size: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    margin: auto;
    padding-top: 4px;
}

.filter-btn img {
    width: 16px;
}

/* --nav-bar--- */
nav {
    height: 74px;
    padding: 0 24px;
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px 0;
    background-color: #ffffff;
    /* box-shadow: 0px 9px 6px rgb(0 0 0 / 16%); */

}

.nav-scrolling-items:first-child {
    border-bottom-left-radius: 3px solid black;
}

.nav-items {
    overflow: hidden;
}

.nav-scrolling-items {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
    width: 375px;
    overflow: scroll;
    height: 74px;
}

.nav-scrolling-items::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 12px 0 10px;
    padding: 4px 0px;
    width: max-content;
    color: #717171;

}

.item:first-child {
    color: #000;
    /* border-bottom: 3px solid black; */
}

.nav-icon {
    width: 24px;
    height: 24px;
    fill: #717171;
}

.nav-item-text {
    margin: 0;
    font-family: 'medium';
    font-size: 12px;
}

.nav-item-text:first-child {
    /* color: #000; */
}

.next-arrow-and-filter-container {
    display: none;
}

/* --main-section-- */
main {
    margin-top: 24px;
    margin-bottom: 30px;
    padding: 0 24px;
}

.display-total-block {
    border-radius: 12px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    /* width: 293.6px; */
    height: 63.9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-total-text {
    font-family: 'medium';
    font-size: 15px;
    padding-bottom: 1px;
    color: #222222;
}

.toggle-button {
    width: 48px;
    height: 32px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: #b0b0b0;
    border-color: #b0b0b0;
}

.button-nav {
    width: 28.8px;
    height: 29px;
    border-radius: 50%;
    background-color: white;
    margin-left: 1px;
    margin-top: 1px;
}

.card {
    margin-inline: auto;
}

.card-img {
    /* width: 98%; */
    /* height: 100%; */
    position: relative;
    margin-bottom: 12px;

}

.card-img img {
    width: 100%;
    height: 100%;
    aspect-ratio: 20/19;
    border-radius: 11px;
}

main {
    display: grid;
    grid-auto-flow: row;
    row-gap: 24px;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25.5px;
    background: transparent;
}

.scroll-images {
    display: flex;
    flex-direction: row;
    gap: 9px;
    overflow: scroll;
}

.scroll-images::-webkit-scrollbar {
    display: none;
}

.dots {
    position: absolute;
    bottom: 8px;
    right: 44%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 3px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: rgb(204, 198, 198);
    border-radius: 50%;
}

.dot:first-child {
    background-color: white;
}

.cards-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 40px;
}

.card-text {
    display: grid;
    gap: 1px 8px;
    font-size: 15px;

}

.card-text p {
    margin: 0;
}

.place {
    font-family: 'medium';
}

.distance {
    font-family: 'small';
    color: #717171;
}

.date {
    font-family: 'small';
    color: #717171;
}

.price {
    font-family: 'medium';
    margin-top: 8px;
}

.price span {
    font-family: 'small';
}

.place-and-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating span {
    font-family: 'small';
    margin-left: 4px;
}

.continue-explore-text-and-show-more-btn {
    margin-top: 56px;
}

.continue-explore-text {
    font-family: 'medium';
    font-size: 18px;
    text-align: center;
}

.show-more-btn {
    margin-top: 16px;
    background-color: black;
    padding: 14px 24px;
    width: 132.32px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.show-more-btn p {
    margin: 0;
    color: white;
    font-family: 'medium';
    font-size: 16px;
}

footer {
    background-color: rgb(247, 247, 247);
}

.inspiration-block {
    padding: 48px 24px;
}

.inspiration-text {
    font-family: 'medium';
    font-size: 22px;
    text-align: left;
    margin-bottom: 8px;
    padding-right: 8px;
}

.scrolling-block {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.scrolling-list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    border-bottom: 2px solid #dddddd;
}

.scrolling-list::-webkit-scrollbar {
    display: none;
}

.scroll-list-item {
    padding: 10px;
    margin: 6px 6px 6px -10px;
}

.scroll-list-item p {
    margin: 0;
    font-family: 'medium';
    font-size: 14px;
    color: #717171;
    text-wrap: nowrap;
}

.popular-text p {
    color: #000;
    border-bottom: 2px solid black;
}

.next-arrow-footer {
    padding-right: -2px;
}

/* .popular-text{
    padding: 10px;
    margin: 6px 6px 6px -10px;
} */

.footer-text-block {
    font-size: 14px;
    /* height: 248px; */
    line-height: 20.02px;
    padding-top: 32px;
    display: grid;
    column-gap: 8px;
    row-gap: 24px;
    grid-template-columns: repeat(2,1fr);
}
.show{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}
.main-item{
    font-family: 'medium';
    font-size: 14px;
    color: #222222;
}
.sub-item{
    font-family: 'small';
    font-size: 14px;
    color: #717171;
}
.footer-items{
    padding: 0 24px;
    border-top: 1px solid rgb(221, 221, 221);
}
.footer-item-block{
    padding: 24px 0;
    border-bottom: 1px solid rgb(221,221,221);
    /* padding-bottom: 25px; */
    
}
.footer-item-main-text{
    font-family: 'medium';
    font-size: 14px;
    margin-bottom: 12px;
    color: #222222;
}
.footer-item-sub-items{
    display: grid;
    grid-auto-flow: row;
    column-gap: 12px;
    row-gap: 11.8px;
    line-height: 20.2px;
}
.footer-sub-item{
    font-family: 'small';
    font-size: 14px;
    color: #222222;
}
.footer-final-block{
    padding: 25px 0;
    padding-top: 22px;
}
.language-and-social-media-icons{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.language-and-rupees-container{
    display: flex;
    /* align-items: center; */
}
.globe-and-language-block{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.currency{
    display: flex;
    align-items: center;
}
.footer-globe-icon{
    margin-right: 8px;
    margin-top: 1px;
}
.text{
    font-family: 'medium';
    font-size: 14px;
    color: #222222;
    padding-bottom: 1px;
}
.rupees-icon{
    margin-right: 6.1px;
}
.airbnb-footer-text{
    font-family: 'small';
    font-size: 14px;
    margin-bottom: 3px;
    color: #222222;
}
.list{
    display: flex;
    font-family: 'small';
    font-size: 14px;
    gap: 7.89px;
    color: #222222;
}
.social-media-icons{
    display: none;
}
.lap-view{
    display: none;
}
.desktop{
    display: none;
}

@media screen and (min-width:767px) {

    .search-tab-and-filter {

        display: none;
    }

    .logo-and-header-items {
        display: block;
        padding: 0px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        height: 80px;
        padding-top: 24px;
    }

    .logo-with-text {
        display: none;
    }

    .header-search-bar {
        padding: 0 8px;
        padding-right: 24px;
    }

    .menu-box {
        height: 47.6px;
        width: 343.05px;
        display: flex;
        flex-direction: row;
        border: 0.5px solid rgb(0 0 0 / 12%);
        box-shadow: 0 3px 10px rgb(0 0 0 / 7%);
        border-radius: 30px;
        padding: 0;
        margin: 0;
        /* padding-top: 10px; */
    }

    .header-main-text {
        padding: 0 16px;
    }

    .header-anywhere-container {
        border: 1px solid transparent;
        padding-left: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 106.78px;
    }

    .anywhere-block {
        padding: 0 16px;
        /* margin: auto; */
        width: 114.58px;
        height: 21px;
        display: flex;
        padding-left: 15px;
    }

    .anywhere-block .header-main-text {
        padding-left: 0;
        padding-left: 1px;
        line-height: 21.5px;
        overflow: hidden;
        border-right: 2px solid rgb(234 228 228);
        text-overflow: ellipsis;
    }

    /* .line{
    width: 1.8px;
    height: 22px;
    line-height: 1;
    background-color:rgb(234 228 228);
    padding: 0;
    padding-left: 1px;
   } */
    .header-anyweek-container {
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96.03px;
    }

    .anyweek-block {
        width: 91.03px;
        height: 21.5px;
    }

    .anyweek-block .header-main-text {
        padding-left: 12px;
        line-height: 21.5px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 1px solid rgb(234 228 228);
        text-overflow: ellipsis;
    }

    .header-add-guest-and-search-container {
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-guest-and-search-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 105.79px;
        height: 48px;
        padding-left: 23px;
    }

    .add-guest-block {
        padding-left: 8.5px;
        width: 104.59px;
        padding-right: 0;
    }

    .add-guest-block .header-main-text {
        font-family: 'small';
        padding-left: 15.5px;
        padding-right: 15px;
        line-height: 21.5px;
        color: #717171;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .search-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-left: 22px; */
        padding-top: 7px;
    }

    .search-icon {
        width: 32px;
        height: 32px;
        margin: 0 9px 7px 6px;
        background-color: #ff385c;
        padding: 10px;
        padding-top: 9px;
        border-radius: 50%;

    }

    .your-home-text-and-globe-container {
        display: flex;
        align-items: center;
        width: 190.35px;

    }

    .right-nav {
        display: flex;
        align-items: center;
    }

    .airbnb-your-home-container {
        width: 148.35px;
        height: 42px;
    }

    .airbnb-your-home-text {
        font-family: 'medium';
        font-size: 14px;
        margin: 0;
        padding: 12px;
        padding-top: 11px;
    }

    .globe-container {
        width: 46px;
        height: 42px;
    }

    .globe-block {
        margin: 0;
        padding: 13px 12px 12px 9px;
    }

    .profile-and-settings-container {
        display: flex;
        align-items: center;
    }

    .profile-and-settings-container {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 21px;
        padding: 9px 5px 5px 12px;
        width: 76.6px;
        height: 42px;
    }

    .profile-block {
        margin-left: 12px;
    }

    header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    /* ---nav-bar----- */
    nav {
        height: 98px;
        padding: 0 40px;
    }

    .nav-items {
        height: 78px;
        padding-top: 38px;
        /* padding-top: 42px; */
        display: flex;
        align-items: center;
    }

    .nav-scrolling-items {
        gap: 32px;
        /* width: 573.85px; */
        width: 80%;
        height: 78px;
        position: relative;

    }

    .item {
        gap: 8px;
        height: 48px;
        /* margin-top: 7px;
        margin-bottom: 15px; */
        /* margin-bottom: 12px;
        padding-top: 5px;
        padding-bottom: 6px;
        margin-top: 10px; */
    }

    .next-arrow {
        /* position: absolute; */
    }

    .next-arrow {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #dddddd;
    }

    .filter-container {
        display: grid;
        grid-auto-flow: column;
        gap: 8px;
        border: 1px solid #dddddd;
        border-radius: 12px;
        margin: 0;
        padding: 7px 0;
        align-items: center;
    }

    .next-arrow-and-filter-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .filter-container {
        width: 90.15px;
        height: 48px;
        /* padding: 7px 0px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter-box {
        padding: 0 0 0 20.5px;
    }

    .filter-icon-container {
        padding-top: 5px;
    }

    .filter-icon-and-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    /* .filter-icon-container img{
        width: 15px;
        height: 15px;
     } */
    .filter-text {
        font-size: 12px;
        font-family: 'medium';
    }

    .filter-icon-and-text {
        height: 18px;

    }

    .filter-text p {
        margin: 0;
    }

    nav {
        box-shadow: none;
    }

    main {
        padding-inline: 40px;
        margin-top: 15.5px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }
    .scroll-list-item{
        padding: 10px;
        margin: 6px 6px 6px 0px;
    }
    .inspiration-block{
        padding: 48px 40px;
    }
    .footer-final-block{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .language-and-social-media-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-media-icons{
        display: flex;
        align-items: center;
        margin-left: 48px;
    }
    .twitter{
        margin-left: 16px;
    }
    .instagram{
        margin-left: 16px;
    }
    .list{
        justify-content: center;
    }
    .lap-view{
        display: block;
    }
    .footer-items{
        padding: 0 40px;
    }
    .footer-globe-icon {
        margin-right: 8.5px;
        margin-top: 6px;
    }
    .text{
        padding-top: 4.5px;
        padding-bottom: 0;
    }
    .footer-final-block{
        padding-top: 19.2px;
    }

}

@media screen and (min-width:960px) {
    .header-search-bar {
        margin-inline: auto;
        padding-left: 103px;
    }

    .anywhere-block {
        width: unset;
        padding-left: 12px;
    }

    .anyweek-block {
        width: unset;
        padding-left: 1px;
    }

    .add-guest-block {
        width: unset;
        padding: 10.5px;
    }

    .header-search-bar {
        width: 388.6px;
    }

    .menu-box {
        width: 350.55px;
        padding-left: 3px;
    }

    .add-guest-and-search-block {
        padding-left: 20px;
    }

    .add-guest-block {
        padding-left: 11.5px;
    }

    .search-icon {
        margin: 0 11px 7px -5px;
        padding: 9.5px;
        padding-top: 9px;
    }

    .add-guest-block .header-main-text {
        padding-left: 20.5px;

    }

    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width:1023px) {
    .logo-container {
        flex: 1 0 140px;
    }

    .logo-with-text {
        display: none;
    }

    .anywhere-block {
        width: unset;
        padding-left: 12px;
    }

    .anyweek-block {
        width: unset;
        padding-left: 1px;
    }

    .add-guest-block {
        width: unset;
        padding: 10.5px;
    }

    .header-search-bar {
        width: 404.6px;
        padding: 0 24px;
    }

    .menu-box {
        width: 351.05px;
        padding-left: 3px;
    }

    .add-guest-and-search-block {
        padding-left: 20px;
    }

    .add-guest-block {
        padding-left: 11.5px;
    }

    .search-icon {
        margin: 0 11px 7px -5px;
        padding: 9.5px;
        padding-top: 9px;
    }

    .add-guest-block .header-main-text {
        padding-left: 20.5px;
    }
    .scrolling-block{
        display:block;
    }
    .next-arrow-footer{
        display: none;
    }
    .footer-text-block{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-item-container{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-item-block{
        padding: 48px 0;
    }
    .host{
        padding-left: 2.5px;
    }
    .airbnb{
        padding-left: 5.5px;
    }
}

@media screen and (min-width:1439px) {
    .logo {
        display: none;
    }

    .logo-with-text {
        display: block;
        padding-top: 24px;
        height: 80px;
    }

    .logo-and-header-items {
        padding: 0 80px;
        max-width: 2520px;
    }

    .your-home-text-and-globe-container {
        padding-top: 24px;
    }

    .right-navbar-container {
        display: flex;
        flex: 1 0 140px;
        justify-content: right;

    }
    .your-home-text-and-globe-container {
        padding-top: 0;
    }

    .header-search-bar {
        /* width: 367.6px; */
        width: 398.6px;
    }

    .menu-box {
        width: 350.55px;
    }

    nav {
        padding: 0 80px;
        max-width: 2520px;
    }

    .nav-scrolling-items {
        width: 87%;
    }

    .filter-text {
        margin-bottom: 1px;
    }

    .display-total-container {
        width: 628px;
        margin-inline: auto;
    }

    main {
        padding: 0 80px;
    }

    .cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-final-block{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .desktop{
        display: block;
    }
    .footer-text-block{
        grid-template-columns: repeat(6,1fr);
    }
    .inspiration-block{
        padding: 48px 80px;
    }
    .footer-items{
        padding: 0 80px;
    }
    .footer-bottom-texts{
        display: flex;
        flex-direction: row;
    }
    .airbnb-footer-text{
        margin-right: 19px;
    }
    .social-media-icons{
        margin-left: 24px;
    }

}